faceAPI_1/__pycache__/mainApp.cpython-35.pyc
faceAPI_1/__pycache__/camera.cpython-35.pyc
faceAPI_1/__pycache__/FacaApi.cpython-35.pyc
faceAPI_1/__pycache__/identifyApp.cpython-35.pyc
faceAPI_verify/__pycache__/mainApp.cpython-35.pyc
faceAPI_verify/__pycache__/FacaApi.cpython-35.pyc
faceAPI_detect/__pycache__/FacaApi.cpython-35.pyc
faceAPI_verify/__pycache__/verifyApp.cpython-35.pyc
faceAPI_verify/__pycache__/camera.cpython-35.pyc
faceAPI_detect/photo/frame30072018234637.jpg
faceAPI_detect/__pycache__/mainApp.cpython-35.pyc
faceAPI_detect/__pycache__/identifyApp.cpython-35.pyc
faceAPI_detect/__pycache__/camera.cpython-35.pyc
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/ai_newlife.iml
faceAPI_door_system/__pycache__/camera.cpython-35.pyc
faceAPI_door_system/__pycache__/FacaApi.cpython-35.pyc
faceAPI_door_system/__pycache__/mainApp.cpython-35.pyc
faceAPI_door_system/__pycache__/identifyApp.cpython-35.pyc
faceAPI_door_system/__pycache__/mainApp.cpython-36.pyc
faceAPI_door_system/__pycache__/imgur.cpython-35.pyc
faceAPI_door_system/__pycache__/helpers.cpython-35.pyc
faceAPI_door_system/__pycache__/files.cpython-35.pyc
faceAPI_door_system/.idea/faceAPI_door_system.iml
faceAPI_door_system/.idea/misc.xml
faceAPI_door_system/.idea/modules.xml
faceAPI_door_system/.idea/workspace.xml
faceAPI_door_system/__pycache__/camera.cpython-36.pyc
faceAPI_door_system/__pycache__/FacaApi.cpython-36.pyc
faceAPI_door_system/__pycache__/files.cpython-36.pyc
faceAPI_door_system/__pycache__/identifyApp.cpython-36.pyc
faceAPI_door_system/__pycache__/imgur.cpython-36.pyc
